n8n/workflows/a2a-demo.json
{
  "id": "a2a-demo",
  "name": "A2A Demo",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "f8b56ed6-9d3c-4ac8-8576-995364c916da",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "message": "In one friendly sentence, introduce yourself and name the protocol we are communicating over.",
        "contextId": ""
      },
      "id": "11c9ac5e-99fe-4632-89fd-0f2f9b05fe58",
      "name": "A2A Send Message",
      "type": "@agentic-layer/n8n-nodes-a2a.a2a",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "a2aApi": {
          "id": "a2a-demo-cred",
          "name": "kagent A2A (demo)"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "7c7f35f6-5fc5-4c53-bce6-41230fe7e8a6",
              "name": "agentReply",
              "value": "={{ ($json.history || []).filter((message) => message.role === 'agent').slice(-1)[0]?.parts?.filter((part) => part.kind === 'text')[0]?.text || ($json.artifacts || [])[0]?.parts?.filter((part) => part.kind === 'text')[0]?.text || '' }}",
              "type": "string"
            },
            {
              "id": "cd345ffb-66cb-47a5-a3c1-c6d1441924c8",
              "name": "a2aStatus",
              "value": "={{ $json.status?.state || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "5f4d151d-5a64-4f4f-9f48-cf22259d0f3d",
      "name": "A2A Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "content": "## n8n → kagent over A2A\nRun this workflow to send a JSON-RPC `message/send` request from n8n to the live kagent A2A demo agent, then view the friendly agent reply in **A2A Response**.",
        "height": 180,
        "width": 520,
        "color": 5
      },
      "id": "8240e310-359a-43c1-94e0-ee7aa36119d5",
      "name": "n8n -> kagent over A2A",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        80
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "A2A Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A2A Send Message": {
      "main": [
        [
          {
            "node": "A2A Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3e0ed717-85ed-43d4-ad7c-93832bcf5302",
  "triggerCount": 0,
  "tags": []
}
